extends ../siswa/templates/template1

block navigasi
  a(class='item primary-color',href='/')
    .text.grey-text
      | Dashboard
  a(class='item primary-color',href='/member/siswa/kegiatanku')
    .text.grey-text
      | Kegiatanku
  a(class='item primary-color',href='/member/siswa/absensi')
    .text.grey-text
      | Absensi


  .right.menu
    //.
      a(class='item grey-text',href='#')
        i.alarm.outline.icon.medium.grey-text
    a(class='item grey-text',href='#')
      i.trophy.icon.grey-text(style='color:#4183C4;')
      .text.grey-text(style='color:#4183C4;')
        | Pencapaian
    a.item.ui.dropdown
      i.user.icon.grey-text
      .text.grey-text
        | #{username}
      i.dropdown.icon
      .menu
        .item.nav-pengaturan
          i.setting.icon.grey-text
          span.grey-text Pengaturan
        .item.nav-keluar
          i.sign.out.icon.grey-text
          span.grey-text Keluar

block main-middle
  if (messages.pesan)
    .ui.segment.grey-text
      .ui.red.message
        span= messages.pesan
  .ui.segment.grey-text(align='center') Pencapaian
  .ui.segment.grey-text(ng-controller='controllerDaftarLencana',style='width:100%;')
    .item(ng-repeat='lencana in daftarLencana')
      .ui.grid
        .four.wide.column(align='center')
          img.ui.tiny.image(src='{{lencana.lokasi_gambar_lencana}}')
        .twelve.wide.column
          | {{lencana.keterangan}}
          br
          br
          .ui.big.label 1 dari 3 tercapai.



block right-middle
  .ui.card
    #hidden-username(style='display:none') #{username}
    #hidden-access-token(style='display:none') #{access_token}
    #hidden-pengguna(style='display:none') #{user_id}
    .image
      img(src='{{foto}}')
    .content
      a.header {{username}}
      .meta
        span.date {{nama_lengkap}}
      .description
        | {{bio}}
      .meta(ng-controller= "controllerPoinPerPengguna")
        a.grey-text(href='#')
          i.star.icon(style='color:orange')
          | {{poinPengguna}} Poin

    .extra.content
      a(href='/member/siswa/pengaturan')
        i.setting.icon
        | Pengaturan
  .ui.segment
    a.grey-text(href='#')
      i.trophy.icon(style='color:gold')
      | Leaderboard
    .ui.middle.aligned.divided.list.grey-text
      .item(style='padding:1em;')
        .content(ng-controller="controllerLeaderboard")
          .ui.grid(ng-repeat = "leaderboard in leaderboards | orderBy: 'poin':true | limitTo:10 ")
            .six.wide.column
              | # {{$index + 1}}
              img.ui.mini.image(src='{{leaderboard.foto}}',style="float:right;")
            .ten.wide.column
              span
                a(href='http://portofolio.vidyanusa.id/{{leaderboard.username}}',target='_blank') {{leaderboard.username}}
                br
                i.star.icon(style='color:orange')
                |{{leaderboard.poin}} poin
