extends templates/template1

block navigasi
  a(class='item primary-color',href='/')
    .text.grey-text
      | Dashboard
  a(class='item primary-color',href='/member/guru/kelas')
    .text(style='color:#4183C4;')
      | Kelas


  .right.menu
    a(class='item grey-text',href='#')
      i.alarm.outline.icon.medium.grey-text
    a.item.ui.dropdown
      .text.grey-text
        | #{username}
      i.dropdown.icon
      .menu
        .item.nav-pengaturan
          i.setting.icon.grey-text
          span.grey-text Pengaturan
        .item.nav-keluar
          i.sign.out.icon.grey-text
          span.grey-text Keluar

block main-middle
  if (messages.pesan)
    .ui.segment.grey-text
      .ui.red.message
        span= messages.pesan
  .ui.segment.grey-text(align='center')
    | Analisis Sikap
  .ui.segment.grey-text
    .sixteen.wide.column(ng-controller='controllerGetSiswaDalamKelas')
      table.ui.very.basic.collapsing.table(style="width:100%;")
        tr
          th No
          th Username
          th Nama Siswa
          th Nilai
          th
        tr(ng-repeat='student in students')
          td {{$index+1}}
          td {{student.profil.username}}
          td {{student.profil.nama_lengkap}}
          td SB
          td
            a(href="#") Detail

  .ui.segment.grey-text(align='center')
    | Daftar Siswa
  .ui.segment.grey-text
    .sixteen.wide.column
      form.ui.form
        .field
          input(type='text',placeholder='Tulis pencarian berdasarkan username atau nama lengkap',ng-model='pencarian',style='width:100%;')
    br
    br
    .sixteen.wide.column(ng-controller='controllerGetSiswaDalamKelas')
      table.ui.very.basic.collapsing.table
        tr
          th Foto profil
          th Username
          th Nama Lengkap
          th
        tr(ng-repeat='student in students | filter:pencarian')
          td
            img.ui.tiny.image(src='{{student.profil.foto}}')
          td {{student.profil.username}}
          td {{student.profil.nama_lengkap}}
          td
            a(href='/member/guru/kelas/siswa_detail_unggahan/{{student._id}}',class='medium ui button button-submit',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;') Lihat Unggahan


block right-middle
  .ui.card
    #hidden-id-kelas(style='display:none') #{id_kelas}
    #hidden-username(style='display:none') #{username}
    #hidden-access-token(style='display:none') #{access_token}


    .image
      img(src='{{foto}}')
    .content
      a.header {{username}}
      .meta
        span.date {{nama_lengkap}}
      .description
        | {{bio}}

    .extra.content
      a(href='/pengaturan')
        i.setting.icon
        | Pengaturan

block modal
